<<<<<<< HEAD
<h1>All Recipes</h1>

<%=@recipes.each do |recipe|%>
<h3><%=link_to recipe.title, recipe_path(recipe)%></h3>
<%end%>
=======
<h1>List of Recipes</h1>
>>>>>>> f793a476eb4d790d3e3e524b2e0aef6fd2a8c7d8
